body {
  font-family: 'Poppins', sans-serif;
  color: $defaultTextColor;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  // background: grey;

  padding: 15px;
}
.button {
  height: 50px;
  padding: 0 40px;
  border-radius: 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: $white;
  border:none;
  &.orange{
    background-color: $orange;
  }
  &.green{
    background-color: $green;

  }
}
